<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="MainService" />
                <binding name="ChatService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8550/ComConServices/MainService"
                binding="netTcpBinding" bindingConfiguration="MainService"
                contract="ServerService.IMainServerFunctions" name="MainService">
                <identity>
                    <userPrincipalName value="Toms-PC\Tom" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8550/ComConServices/ChatService"
                binding="netTcpBinding" bindingConfiguration="ChatService"
                contract="ServerService.IChatServerFunctions" name="ChatService">
                <identity>
                    <userPrincipalName value="Toms-PC\Tom" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>