<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Bei der Bereitstellung des Dienstbibliothekprojekts muss der Inhalt der Konfigurationsdatei der app.config-Datei 
  des Hosts hinzugefügt werden. System.Configuration unterstützt keine Konfigurationsdateien für Bibliotheken. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MetaData" name="ComCon.Shared.Classes.IServerFunctions">
        <endpoint address="net.tcp://localhost:8500/ChatService" binding="netTcpBinding"
          bindingConfiguration="" name="ChatServiceEndpoint" contract="ComCon.Shared.Classes.IServerFunctions">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8500/ChatServerService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetaData">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8501/MetaInfo" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
